@mixin flex-sass($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}


//     display: flex;
//    flex-direction: $direction
//    justify-content: $justify