* {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px 60px 20px 100px;
    background-color: cornflowerblue;
    background-image: url("emoticon1.png");
    background-repeat: no-repeat;
    font-size: 40px;
    background-position: 5% 50%;
}

a:hover {
    background-image: url("emoticon2.png");
    )
