*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 200vh;
}
div.wrapper{
    margin: 10px 80px;
    text-align: justify;
}
.wrapper p{
    position: absolute;
    top: 0px;
    left: 15%;
    right: 15%;
    font-size: 18px;
    line-height: 200%;
    transition: .2s;
}
.wrapper p.off{
    top: 300px;
}
.burger{
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 50px;
    z-index: 1;

}
i.off{
    display: none;
}
.fa-angle-up{
    color: white;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30vh;
    background-color: #000;
    transition: .2s;
}
nav.off{
    top: -300px;
}